<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Project Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Không được để trống tên dự án!">
            <input class="w-1/2" nz-input formControlName="projectName" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Start Date</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Không được để trống ngày bắt đầu dự án!">
            <nz-date-picker formControlName="datePicker"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7">Team Size</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <nz-input-number formControlName="teamSize" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Price</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <input class="w-1/2" nz-input formControlName="price" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7">Description</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <textarea class="w-1/2" rows="4" formControlName="desc" nz-input></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7">Image</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <nz-upload class="avatar-uploader" nzName="avatar" nzListType="picture-card" [nzShowButton]="true"
                [nzBeforeUpload]="beforeUpload">
                <ng-container *ngIf="!avatarUrl">
                    <span class="upload-icon" nz-icon [nzType]="'plus'"></span>
                    <div class="ant-upload-text">Upload</div>
                </ng-container>
                <img class="w-full h-full object-cover" *ngIf="avatarUrl" [src]="avatarUrl" />
            </nz-upload>
            <button class="absolute left-40 bottom-16" (click)="handleRemove()" *ngIf="avatarUrl" nz-button
                type="button">Remove</button>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
            <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
    </nz-form-item>
</form>